{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }} " class="form-submit button pill large border-theme bkg-hover-theme color-theme color-hover-white" />
</div>
{{ form_end(form) }}


{% endblock %}