{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}
    <ul>
        {% for pro in project %}
            <li><a href="project/{{ pro.id }}">{{ pro.nom }}</a> </li>
        {% endfor %}
    </ul>


{% endblock %}